.page {
	.hero {
	}
	.cliets {
	}
	&__skills {
	}
}

//========================================================================================================================================================

// hero

.hero {
	@include adaptiveValue("padding-block", 50, 15);
	&__container {
		text-align: center;
		min-height: 100svh;
		display: grid;
		align-content: center;
	}

	&__image {
	}

	&__img {
		width: 100vw;
		height: 55svh;
		object-fit: contain;
		mix-blend-mode: lighten;
	}
	&__blockhead {
		translate: 0 -12%;
	}
}

// cliets

.cliets {
	@include adaptiveValue("padding-top", 128, 15);
	@include adaptiveValue("padding-button", 80, 15);
	&__container {
		display: flex;
		justify-content: space-evenly;
		gap: 30 px;
		align-items: center;
		flex-wrap: wrap;
	}

	&__item {
	}
}

.works {
	display: grid;
	gap: 32px;
	grid-template-columns: repit(auto-fill, minmax(min(50px, 100%), 1fr));
	// background-color: #fff;
	// display: flex;
	// flex-wrap: wrap;
	// margin: 0px auto;
}
.item-work {
	position: relative;
	// flex: 1 1 350px;
	// margin: 32px;
	&__image {
		position: relative;
		aspect-ratio: 684/513;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url("@img/work/Noise.png") center/ cover no-repeat;
		}
		&__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__body {
		position: absolute;
		right: 32px;
		left: 32px;
		bottom: 32px;
		background: $bgColorheader;
		border: 1px solid $bgColorGrey;
		backdrop-filter: blur(15px);
		border-radius: 2px;
		padding: 12px 16px;
	}

	&__title {
	}

	&__title-link {
	}

	&__text {
	}
}

.block1 {
	width: 100%;
	height: 200px;
	background-color: #22bed9;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// display: grid;
	// gap: 32px;
	// grid-template: 80px/ 80px;
	// justify-content: center;
	// align-content: center;

	.block2 {
		display: grid;
		background-color: #d0e655;
	}
}
