.item {
    color: $lightColor;
    border: 1px solid $bgColorGrey;
    @include adaptiveValue("padding-inline", 48, 20);
    @include adaptiveValue("padding-bottom", 48, 20);
    @include adaptiveValue("padding-top", 48, 30);
    border-radius: 2px;
    > * {
        margin-bottom: 16px;
    }
    &__time {
        font-weight: 400;
        position: absolute;
        @include adaptiveValue("top", 20, 10);
        @include adaptiveValue("right", 20, 10);
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
        color: $lightColor;
        border: 1px solid $bgColorGrey;
        padding: 8px;
        background: $colorFull;
        border-radius: 2px;
        @media (min-width: toEm(890)) {
            &_left-- {
                @include adaptiveValue("right", 120, 110);
            }
        }
    }

    &__label {
        font-family: $fontSatoshi;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-bottom: 4px;
        font-size: 13px;
    }

    &__title {
        font-family: $fontSatoshi;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $lightColor;
        font-size: 24px;
    }

    &__text {
        margin-bottom: 32px;
        line-height: 1.8;
    }

    &__list {
        line-height: 1.8;
        color: $lightColor;
        padding-left: 20px;
    }

    &__item {
        position: relative;
        padding-left: 20px;
        &::before {
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $lightColor;
            position: absolute;
            left: 0px;
            top: 12px;
        }
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    > * :last-child {
        margin-bottom: 0px;
    }
}
