// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily: "Chillax", sans-serif; // Шрифт за замовчуванням
$fontSatoshi: "Satoshi", sans-serif;
$fontGambetta: "Gambetta", serif;
$fontSize: 16; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$mainColor: rgba(218, 197, 167, 0.6); // Колір шрифту за замовчуванням
$lightColor: #dac5a7;
$bgColor: #0e0e0e;
$bgButtonColor: rgba(24, 23, 22, 1);
$bgButtonColorBr: rgba(71, 64, 56, 1);
$buttonColorBr: rgba(85, 77, 68, 1);
$bgColorheader: rgba(218, 197, 167, 0.05);
$bgColorGrey: rgba(218, 197, 167, 0.15);
$lightColorHover: #dac5a77a;
$colorFull: #181716;
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 2;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
