.header {
	// .header__container
	position: fixed;
	left: 0;
	top: 15px;
	right: 0;
	z-index: 50;
	@media (min-width: toEm($mobile)) {
		top: 48px;
	}
	&__container {
		@media (max-width: toEm($mobile)) {
			width: 100%;
		}
	}

	&__logo {
		position: relative;
		z-index: 5;
		@media (max-width: toEm($mobile)) {
			justify-content: space-between;
		}
	}

	&__link-logo {
		position: relative;
		z-index: 5;
	}

	&__button {
		position: relative;
		z-index: 5;
	}

	&__body {
		display: flex;
		align-items: center;
		padding: 12px;
		gap: 15px;
		background: $bgColorheader;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 2px;
			backdrop-filter: blur(15px);
			border: 1px solid $bgColorGrey;
			z-index: 2;
		}
		@media (min-width: toEm($mobile)) {
			padding-left: 24px;
			gap: 32px;
			justify-content: center;
		}

		@media (max-width: toEm($mobile)) {
			justify-content: space-between;
		}
	}
	@media (min-width: toEm($mobile)) {
		display: flex;
		justify-content: center;
	}
	&__block {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
	}
}
