.works {
    display: grid;
    @include adaptiveValue("gap", 32, 15);
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(min(450px, 100%), 1fr));
}
.item-work {
    position: relative;
    overflow: hidden;
    &__image {
        display: block;
        aspect-ratio: 684/513;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url("@img/work/noise.png") center/ cover no-repeat;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__body {
        position: absolute;
        @include adaptiveValue("right", 32, 5);
        @include adaptiveValue("left", 32, 5);
        @include adaptiveValue("bottom", 32, 5);
        background: $bgColorheader;
        border: 1px solid $bgColorGrey;
        backdrop-filter: blur(15px);
        border-radius: 2px;
        padding: 12px 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
    }
    &__title {
    }

    &__title-link {
        font-family: $fontSatoshi;
        font-style: normal;
        font-weight: 300;
        @include adaptiveValue("font-size", 24, 18);
        line-height: 1.3;
        letter-spacing: 1px;
        color: $lightColor;
        @media (any-hover: hover) {
            &:hover {
                color: $lightColorHover;
            }
        }
    }

    &__text {
        font-family: $fontSatoshi;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.6;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $lightColor;
        display: flex;
        align-items: center;
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $lightColorHover;
            }
        }
    }
    @media (any-hover: hover) {
        &:hover {
            .item-work__img {
                transform: scale(1.05);
            }
        }
    }
}
