<!-- <article data-fls-work class="item-work">
  <a href="[[link]]" class="item-work__image">
    <img src="[[image]]" alt="Image" class="item-work__img" />
  </a>
  <div class="item-work__body">
    <h5 class="item-work__title">
      <a href="[[link]]" class="item-work__title-link">[[name]] </a>
    </h5>
    <a href="[[category-link]]" class="item-work__text">[[category]]</a>
  </div>
</article> -->
<article data-fls-work class="item-work">
  <a href="#" class="item-work__image">
    <img src="@img/work/1.png" alt="Image" class="item-work__img" />
  </a>
  <div class="item-work__body">
    <h5 class="item-work__title">
      <a href="#" class="item-work__title-link">Space </a>
    </h5>
    <a href="#" class="item-work__text">Webdesign</a>
  </div>
</article>
