// .works {
//     &__body {
//         display: grid;
//         gap: 32px;
//         grid-template-columns: repit(auto-fill, minmax(min(450px, 100%), 1fr));
//     }
// }
// .item-work {
//     position: relative;
//     &__image {
//         position: relative;
//         aspect-ratio: 684/513;
//         &::after {
//             content: "";
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             top: 0;
//             left: 0;
//             background: url("@img/work/Noise.png") center/ cover no-repeat;
//         }
//         &__img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//         }
//     }

//     &__body {
//         position: absolute;
//         right: 32px;
//         left: 32px;
//         bottom: 32px;
//         background: $bgColorheader;
//         border: 1px solid $bgColorGrey;
//         backdrop-filter: blur(15px);
//         border-radius: 2px;
//         padding: 12px 16px;
//     }

//     &__title {
//     }

//     &__title-link {
//     }

//     &__text {
//     }
// }
