.menu {
	@media (min-width: toEm($mobile)) {
		position: relative;
		z-index: 5;
	}
	@media (max-width: $mobile) {
		flex-grow: 1;
	}
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: toEm($mobile)) {
			position: fixed;
			width: 100%;
			height: 100svh;
			left: 100%;
			top: 0;
			overflow: auto;
			padding: 110px 15px 30px 15px;
			transition: left 0.3s;
			background-color: #0e0e0e;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 70px;
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
			}
			[data-fls-menu-open] & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 3px 20px;
		@media (max-width: toEm($mobile)) {
			flex-direction: column;
			align-items: flex-end;
			gap: 15px 20px;
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		font-family: "Satoshi", sans-serif;
		font-size: 13px;
		line-height: 1.6;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		color: $lightColor;
		position: relative;
		transition: color 0.5;
		&::after {
			content: "";
			width: 0;
			height: 0.5px;
			background: $lightColor;
			position: absolute;
			bottom: 0;
			left: 50%;
			transition:
				width 0.5s,
				left 0.5s;
		}
		&:hover {
			&::after {
				content: "";
				left: 0;
				width: 100%;
				color: $lightColorHover;
			}
		}
		@media (max-width: toEm($mobile)) {
			font-size: 24px;
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: toEm($mobile)) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - 1px);
		}
		[data-fls-menu-open] & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}
