<aside data-fls-letstalk class="lets-talk">
  <div
    data-fls-border
    data-fls-marquee
    data-fls-marquee-speed="100"
    class="lets-talk__line line-talk"
  >
    <div class="line-talk__item">Let’s talk</div>
    <div class="line-talk__item">+++</div>
  </div>
  <div class="lets-talk__body"></div>
  <section class="lets-talk__container">
    <div data-fls-blockhead class="blockhead blockhead--gap-8">
      <span class="blockhead__label">Project in mind?</span>
      <h1 class="blockhead__title blockhead__title--size-128">
        Let’s make your <span>Website shine</span>
      </h1>
      <div class="blockhead__text lockhead__text--size-24">
        Premium web design, webflow, and SEO services to help your business
        stand out.
      </div>
    </div>
    <div class="lets-talk__button">
      <a
        href=""
        data-fls-button
        class="button button-light button-light--icon-arrow button-light--icon-urr"
        >Get in touch</a
      >
    </div>
  </section>
</aside>
