.lets-talk {
    &__line {
    }

    &__body {
    }

    &__container {
        @include adaptiveValue("padding-block", 160, 40);
    }
    &__button {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }
}
.line-talk {
    &__item {
        @include adaptiveValue(" padding-block", 16, 10);
        font-size: 13px;
        font-family: $fontSatoshi;
        letter-spacing: 1.5px;
        line-height: 1.6;
        text-transform: uppercase;
    }
}
